:root{
    --bg:#0B1120;
    --card:#111827;
    --text:#E2E8F0;
    --muted:#94A3B8;
    --accent:#38BDF8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.8;
    overflow-x:hidden;
}

/* BACKGROUND */

.background-glow{
    position:fixed;
    width:600px;
    height:600px;

    background:radial-gradient(
        circle,
        rgba(56,189,248,.12),
        transparent 70%
    );

    top:-250px;
    right:-150px;

    pointer-events:none;
}

/* NAVBAR */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    backdrop-filter:blur(16px);

    background:rgba(11,17,32,.75);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 10%;
}

.logo{
    font-size:1.1rem;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:var(--muted);
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:var(--accent);
}

/* HERO */

.hero{
    min-height:90vh;

    display:flex;
    align-items:center;

    padding:0 10%;
}

.hero-content{
    max-width:850px;
}

.hero-label{
    color:var(--accent);
    font-size:.85rem;
    letter-spacing:2px;
}

.hero h1{
    font-size:4rem;
    line-height:1.15;

    margin:20px 0;
}

.hero p{
    color:var(--muted);
    font-size:1.1rem;
}

.hero-buttons{
    margin-top:35px;
    display:flex;
    gap:15px;
}

.btn-primary,
.btn-secondary{
    padding:14px 24px;
    border-radius:10px;
    text-decoration:none;
    transition:.3s;
}

.btn-primary{
    background:var(--accent);
    color:black;
    font-weight:600;
}

.btn-primary:hover{
    transform:translateY(-4px);
}

.btn-secondary{
    border:1px solid #334155;
    color:white;
}

.btn-secondary:hover{
    border-color:var(--accent);
}

/* SECTIONS */

.section{
    padding:100px 10%;
}

.section h2{
    margin-bottom:30px;
    font-size:2.2rem;
}

.section p{
    color:var(--muted);
    max-width:850px;
}

/* PROJECT */

.project-card,
.education-card,
.contact-card,
.skill-card{
    background:var(--card);
    border:1px solid rgba(255,255,255,.05);

    border-radius:20px;

    padding:30px;
}

.project-card{
    transition:.35s;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:rgba(56,189,248,.4);
}

.project-header h3{
    font-size:1.6rem;
}

.project-header span{
    color:var(--accent);
}

.project-tags,
.skill-tags{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-top:20px;
}

.project-tags span,
.skill-tags span{
    background:#0F172A;
    border:1px solid rgba(255,255,255,.05);

    padding:8px 14px;
    border-radius:999px;

    transition:.3s;
}

.skill-tags span:hover,
.project-tags span:hover{
    border-color:var(--accent);
    transform:translateY(-2px);
}

.project-link{
    display:inline-block;
    margin-top:25px;
    color:var(--accent);
    text-decoration:none;
}

/* SKILLS */

.skills-grid{
    display:grid;
    gap:25px;
}

/* CONTACT */

.contact-card{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-card a{
    color:var(--accent);
    text-decoration:none;
}

/* FOOTER */

footer{
    text-align:center;
    padding:40px;
    color:#64748B;
}

/* ANIMATION */

.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s ease;
}

.reveal.show{
    opacity:1;
    transform:translateY(0);
}

/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:2.6rem;
    }

    nav ul{
        gap:15px;
    }

    .navbar{
        padding:20px;
    }

    .section{
        padding:80px 20px;
    }

}
